Django==6.0.1
gunicorn==23.0.0
psycopg2-binary==2.9.11
whitenoise==6.11.0
Pillow==12.1.0
python-dotenv==1.2.1
django-cors-headers==4.9.0
djangorestframework==3.16.1
celery==5.6.2
redis==7.1.0
requests==2.32.5
python-decouple==3.8
